*{
    margin: 0;
    padding: 0;
}

#highscore-button {
    background-color: #fff; 
    color: #007bff; 
    padding: 8px 16px; 
    text-decoration: none; 
    border: none; 
    cursor: pointer;
    width: 20%;
    text-align: start;
    font-size: 30px;
}

header p {
    font-size: 20px;
    margin-left: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: green;
}

#initialsForm input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; 
    margin-left: 6px;
  }

#initialsForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #initialsForm button:hover {
    background-color: #45a049; 
  }

#highscore-container {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-left: 25px;
    font-size: 20px;
}

#highscore-list {
    List-style-type: decimal;
}

.container {
    display: flex;
    font-family: 'Zen Maru Gothic', sans-serif;
    height: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
    font-size: 25px;

    } 
    
    #start-game {
        margin: 15% 10px; 
        width: 45%;
        color: #FFFFFF;
        background-color: #007BFF;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }

    #start-game:hover {
        background-color: #0056b3;
    }

    #answer-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        margin-top: 15%;
    }

    #answer-buttons button {

        margin: 10px; 
        width: 45%;
        color: #FFFFFF; 
        background-color: #007BFF;
        border: none;
        border-radius: 8px; 
        font-size: 16px; 
        font-weight: bold; 
        padding: 10px 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    #answer-buttons button:hover {
        background-color: #0056b3; 
    }

   